.App {
  text-align: center;
}

form {
  padding-bottom: 10px;
}

.login{
  display: flex;
  justify-content: center;
}

#registration, #login, .chat {
  border: 2px solid black;
  border-radius: 10px;
}

#registration, #login{
  margin: 20px 50px;
  padding: 10px;
  height: 250px;
}

.chatPage{
  display: flex;
  width: 75%;
  margin: 20px auto;
}

.chatInfo{
  margin-left: 10px;
}

.chat {
  width: 75%;
}

.chatLog {
  margin-bottom: 40px;
  height: 500px;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
}

.userMessage, .otherMessage {
  margin-top: 10px;
  width: 75%;
  border-radius: 10px;
  padding: 5px;
}

.userMessage {
  margin-left: auto;
  margin-right: 10px;
  background-color: #039df7;
}

.otherMessage {
  margin-left: 10px;
  margin-right: auto;
  background-color: #b3dbf3;
}

.serverMessage {
  margin-top: 10px;
  padding: 5px;
  margin-left: 10px;
  margin-right: auto;
  color: #797979;
}

#userName, #userMessage {
  margin: 10px;
  text-align: left;
}

#userName {
  font-weight: bold;
}

.chatForm {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav{
  height: 50px;
  width: 75%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}